.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.bg-black {
  background-color: $black;
}
.bg-theme {
  background: url(../images/background-img.png);
  background-repeat: no-repeat;
}
.bg-linear-black {
  background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
}
.theme-green {
  color: $green;
}
.justify-content-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.py-160 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.py-40 {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}
.mr-24 {
  margin-right: 1.5rem;
}
