*,
*::before,
*::after {
  box-sizing: border-box;
  //   outline: 1px solid;
}
html,
body {
  font-family: "Castoro", serif;
  color: $black;
  line-height: 1.5;
}
a {
  display: block;
  text-decoration: none;
  color: $black;
  &:hover {
    text-decoration: underline;
    font-style: italic;
  }
}
.container {
  max-width: 1296px;
  margin: 0 auto;
}
.wrap {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
header {
  img {
    display: block;
    margin: 0 auto;
  }
}
.contact {
  .details {
    li:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
}
.awards {
  .details {
    li:not(:last-child) {
      margin-bottom: 0.75rem;
    }
  }
}
footer {
  padding: 4rem 0;
}
