* {
  box-sizing: border-box;
  //   outline: 1px solid;
}
html,
body {
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: 1296px;
  margin: 0 auto;
}
header,
footer {
  color: white;
}

//header
nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  li:not(:first-child) {
    margin-left: 4rem;
  }
}

@media (max-width: 767px) {
  nav {
    padding: 0;
    flex-direction: column;
    .logo {
      margin: 1rem;
    }
    .nav-list {
      li {
        width: 50%;
        margin: 0;
        border: 1px solid white;
      }
      a {
        text-align: center;
        padding-top: 12px;
        padding-bottom: 12px;
      }
    }
  }
}

//footer
.footer {
  flex-wrap: wrap;
  &-nav {
    padding: 3rem 0 2rem 0;
    a {
      display: block;
    }
    .nav-list {
      a {
        font-size: 1rem;
      }
      li:not(:first-child) {
        margin-left: 3rem;
      }
    }
  }
  &-contact {
    margin-bottom: 2rem;
    h3 {
      font-size: 2.25rem;
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
    span {
      font-size: 2.25rem;
      margin-right: 20px;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  &-bottom {
    padding: 2rem 0;
    border-top: 1px solid white;
    a {
      font-size: 14px;
      display: block;
      &:hover {
        text-decoration: underline;
        background-color: transparent;
        color: white;
      }
    }
    li:not(:first-child) {
      margin-left: 3rem;
    }
  }
}

@media (max-width: 767px) {
  .footer {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    .container {
      padding-left: 12px;
      padding-right: 12px;
    }
    &-contact {
      margin-top: -1.5rem;
      h3 {
        font-size: 1rem;
      }
      span {
        font-size: 18px;
        margin-right: 10px;
      }
    }
    &-nav {
      padding: 0;
      justify-content: end;
      .nav-list {
        display: none;
      }
      .links {
        img {
          width: 24px;
        }
        li:not(:first-child) {
          margin-left: 0.5rem;
        }
      }
    }
    &-bottom {
      flex-direction: column;
      padding: 1rem 0 0 0;
      .nav-list {
        li {
          width: 100%;
          margin: 0.5rem 0 0 0;
        }
      }
    }
  }
}
