//layout
.d-flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
//backgorund
.bg-theme {
  background-color: $red;
}

//spacing
