.headline {
  font-size: $fs-h1;
  letter-spacing: 0.12em;
  width: 636px;
}
.section {
  width: 636px;
}
.text-right {
  text-align: right;
}
.bg-gray {
  background-color: $light-gray;
}
.bg-black {
  background-color: $black;
}
.ml-auto {
  margin-left: auto;
}
.py-1 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.mb-2 {
  margin-bottom: 2.5em;
}
.mb-80 {
  margin-bottom: 5rem;
}
